# Entornos virtuales
env*/
venv*/
__pycache__/
*.pyc
*.pyo

# Archivos de resultado temporal
resultados/
audios_generados/

# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# Archivos de configuración local
.env
*.log

# Archivos de imagen temporales
*.tmp
*.temp

# Archivos de video temporales
*.tmp.mp4
*.temp.avi